@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Chakra+Petch:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #112A46;
}
/* body{
    background-color: #ffffff;
    background-image: linear-gradient(310deg, #ffffff 0%, #74ff62 50%, #FF0000 100%);
    
} */
main{
    background-image: url("/img/FONDO1v5.jpg");
    background-size:  cover;
    background-position: center; 
}

h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 3rem;
    text-align: right;
}

/*DISEÑO HEADER DE LAS PÁGINAS*/
.header{
    color: #112A46;
    /* background-color:  #E76F51; */
    /* background-image: url("/img/FONDO1v2.jpg");
    background-size: cover; */
    /* background-position: top;  */
    margin: 0.5rem;
    padding: 0.4rem;
    position: sticky;
    top: 0.5rem;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows:  1fr 1fr;
    justify-content: space-between;
    align-items: center;
    border: #112A46 solid 1px; 
    border-radius: 15px;
    /* background-image: linear-gradient(to right, #319C48, red); */
   background: rgb(248,252,249);
background: -moz-linear-gradient(142deg, rgba(248,252,249,1) 15%, rgba(49,156,72,1) 52%, rgba(190,24,24,1) 87%);
background: -webkit-linear-gradient(142deg, rgba(248,252,249,1) 15%, rgba(49,156,72,1) 52%, rgba(190,24,24,1) 87%);
background: linear-gradient(142deg, rgba(248,252,249,1) 15%, rgba(49,156,72,1) 52%, rgba(190,24,24,1) 87%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fcf9",endColorstr="#be1818",GradientType=1);
    /* background: rgb(190,24,24);
    background: -moz-radial-gradient(circle, rgba(190,24,24,1) 19%, rgba(190,24,16,1) 25%, rgba(49,156,72,1) 68%);
    background: -webkit-radial-gradient(circle, rgba(190,24,24,1) 19%, rgba(190,24,16,1) 25%, rgba(49,156,72,1) 68%);
    background: radial-gradient(circle, rgba(190,24,24,1) 19%, rgba(190,24,16,1) 25%, rgba(49,156,72,1) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#be1818",endColorstr="#319c48",GradientType=1); */
}

.header__logo > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__nav{
    background-color: #112A46;
    padding: .2rem;
    /* margin-top: 1.5rem; */
    grid-column: 1 / span 2;
    border: solid 1px #112a46;
    border-radius: 5px;  
}

.header__nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header__nav li{
    /* display: inline; */
    list-style: none;
    margin-right: 1rem;
    align-content: center;
}

.header__nav a{
    color: #E76F51;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}

.header__nav a:hover{
    color: white;
    font-weight: bold;
}

/* From cssbuttons.io */

/* .menuItem {
 --color: #e76f51;
 font-family: inherit;
 display: inline-block;
 width: 8em;
 height: 2.6em;
 line-height: 2.5em;
 margin: 20px;
 position: relative;
 overflow: hidden;
 border: 2px solid var(--color);
 transition: color .5s;
 z-index: 1;
 font-size: 17px;
 border-radius: 6px;
 font-weight: 500;
 color: var(--color);
}

.menuItem:before {
 content: "";
 position: absolute;
 z-index: -1;
 background: var(--color);
 height: 150px;
 width: 200px;
 border-radius: 50%;
}

.menuItem:hover {
 color: #fff;
}

.menuItem:before {
 top: 100%;
 left: 100%;
 transition: all .7s;
}

.menuItem:hover:before {
 top: -30px;
 left: -30px;
}

.menuItem:active:before {
 background: #3a0ca3;
 transition: background 0s;
} */

/* DISEÑO BARRA NAVEGACIÓN INTERIOR */

.cuerpo__nav ul{
    background-color: #112A46;
    padding: .2rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-radius: 5px;
}

.cuerpo__nav li{
    list-style: none;
    border: solid 1px white;
    border-radius: 5px;
    padding: .3rem;
    margin: .3rem;
}

.cuerpo__nav a{
    color: #E76F51;
    text-decoration: none;
    font-size: .8rem;;
}

.cuerpo__nav a:hover{
    color: white;
    font-weight: bold;
}

.cuerpo{
    margin: 0.8rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border: #E76F51 solid 1px;
    border-radius: 10px;
}

.cuerpo__row{
    margin: 0.8rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    border: #E76F51 solid 1px;
    border-radius: 15px;
    gap: 1rem;
    text-align: justify;
}

.cuerpo__col{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.cuerpo__foto{
    height: 100px;
    width: 200px;
    border: #E76F51 solid 1px;
    border-radius: 15px;
}

.barraLatIzq{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .5rem;
    /* border: #E76F51 solid 1px; */
}

.barraLatIzq article{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    text-align: justify;
    padding: 0.5rem;
}

.imagen{
    height: 200px;
    width: 300px;
    flex-basis: 20%; 
    border: 1px solid #e76f51;
    border-radius: 5px;
    object-fit: cover;
}

.imagen:hover{
    transform: scale(1.5,1.5);
    transition: 1s;
}

.imagen__nos{
    height: 200px;
    width: 200px;
    /* flex-basis: 20%; */
    border: 1px solid #e76f51;
    border-radius: 50%;
}

.cuerpo__foto{
    height: 100px;
    width: 200px;
    border: #E76F51 solid 1px;
    border-radius: 10px;
}

.cuerpo__foto:hover{
    transform: rotate(10deg); 
    transition: 1s;
}

.barraLatDer{
    /* border: #E76F51 solid 1px; */
    padding: 0.5rem;
    flex-basis: 10%;
}

.barraLatDer img{
    height: 50px;
    width: 100px;
}

.barraLatDer li{
    list-style: none;
}

/*DISEÑO PIE DE PÁGINAS*/
span{
    border:#E76F51 solid 2px;
    border-radius: 15px;
    width: 100%;
    display: block;
}

.footer{
    margin: 0.8rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer p{
    margin-right: .5rem;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
    gap: 0.8rem;
}

fieldset{
    padding: 1rem;
}

#comentario{
    text-align: center;
    padding: .5rem;
}

/*-----MEDIA QUIERY-----*/
@media screen and (min-width: 1024px){
    .header{
        height: 30vh;
    }
}

@media screen and (max-width: 768px)
{
    .header__nav ul {
        flex-direction: column;
        align-items: left;
        text-align: right;
    }
    h1{
        font-size: 2rem;
    }
    .cuerpo__row{
        flex-direction: column;
    }
    .barraLatDer{
        display: flex;
        flex-direction: column;
        border: #E76F51 solid 1px;
        border-radius: 15px;
        justify-content: space-between;
        align-items: stretch;
    }
    .cuerpo__izq, .cuerpo__der{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .barraLatDer li > img{
        object-fit: fill;
        margin: .5rem;
    }
    .cuerpo__col{
        flex-direction: column;
    }
    .barraLatIzq article{
        flex-direction: column;
    }
    picture{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        justify-items: center;
    }
}

@media screen and (max-width: 425px){
    .footer{
        flex-direction: column;
    }
}
