@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Chakra+Petch:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #112A46;
}

main{
    background: rgb(248,252,249);
    background: -moz-linear-gradient(142deg, rgba(248,252,249,1) 15%, rgba(49,156,72,1) 52%, rgba(190,24,24,1) 87%);
    background: -webkit-linear-gradient(142deg, rgba(248,252,249,1) 15%, rgba(49,156,72,1) 52%, rgba(190,24,24,1) 87%);
    background: linear-gradient(142deg, rgba(248,252,249,1) 15%, rgba(49,156,72,1) 52%, rgba(190,24,24,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fcf9",endColorstr="#be1818",GradientType=1);
}

h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 3rem;
}

/*DISEÑO HEADER DE LAS PÁGINAS*/

.header{
    color: #112A46;
    background-image: url("../img/fondoHeader.jpg");
    background-size: cover; 
    background-position: top; 
    padding: 0.4rem;
    position: sticky; 
    top: 0.5rem;
    border: #112A46 solid 1px; 
    border-radius: 15px;
    z-index: 9999;
}

.header__logo > img{
    width: 150px;
    object-fit: contain;
}

.header__nav{
    background-color: #112A46;
    padding: .2rem;
    border: solid 1px #112a46;
    border-radius: 5px;  
}

.header__nav a{
    color: #E76F51;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}

.header__nav a:hover{
    color: white;
    font-weight: bold;
}

/* DISEÑO BARRA NAVEGACIÓN INTERIOR */

.cuerpo__nav ul{
    background-color: #112A46;
    padding: .2rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-radius: 5px;
}

.cuerpo__nav li{
    list-style: none;
    border: solid 1px white;
    border-radius: 5px;
    padding: .3rem;
    margin: .3rem;
}

.cuerpo__nav a{
    color: #E76F51;
    text-decoration: none;
    font-size: .8rem;;
}

.cuerpo__nav a:hover{
    color: white;
    font-weight: bold;
}

.cuerpo{
    margin: 0.8rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border: #E76F51 solid 1px;
    border-radius: 10px;
}

.cuerpo__row{
    margin: 0.8rem;
    padding: 0.5rem;
    border: #E76F51 solid 1px;
    border-radius: 15px;
    gap: 1rem;
    text-align: justify;
    background: rgb(248,252,249);
    background: -moz-linear-gradient(142deg, rgba(248,252,249,1) 15%, rgba(49,156,72,1) 52%, rgba(190,24,24,1) 87%);
    background: -webkit-linear-gradient(142deg, rgba(248,252,249,1) 15%, rgba(49,156,72,1) 52%, rgba(190,24,24,1) 87%);
    background: linear-gradient(142deg, rgba(248,252,249,1) 15%, rgba(49,156,72,1) 52%, rgba(190,24,24,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fcf9",endColorstr="#be1818",GradientType=1);
}

.cuerpo__col{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.barraLatIzq{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .5rem;
}

.articulo{
    text-align: justify;
}

.imgCarousel{
    height: 40vh;
    object-fit: cover;
}

.barraLatIzq article{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    text-align: justify;
    padding: 0.5rem;
}

.imagen{
    width: 100%;
    flex-basis: 20%; 
    border: 1px solid #e76f51;
    border-radius: 5px;
    object-fit: cover;
}

.imagen:hover{
    backface-visibility: hidden;
    transform: scale(1.15, 1.15);
    opacity: 1;
    transition: 1s;
}

.imagen__nos:hover{
    backface-visibility: hidden;
    transform: scale(1.5, 1.5);
    opacity: 1;
    transition: 1s;
}

.imagen__nos{
    height: 150px;
    width: 150px; 
    border: 1px solid #e76f51;
    border-radius: 50%;
    object-fit: cover;
}

.cuerpo__foto{
    width: 100%;
    border: #E76F51 solid 1px;
    border-radius: 10px;
}

.cuerpo__foto:hover{
    transform: rotate(10deg); 
    transition: 1s;
}

fieldset{
    min-width: 100%
}

textarea{
    min-width: 100%
}

.barraLatDer p{
    text-align: center;
}

.barraLatDer img{
    width: 100%;
}

.barraLatDer li{
    list-style: none;
    margin-bottom: .7rem;
}

.tarifa{
    text-align: center;
}

/*DISEÑO PIE DE PÁGINAS*/
span{
    border:#E76F51 solid 2px;
    border-radius: 15px;
    width: 100%;
    display: block;
}

.footer{
    margin: 0.8rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer p{
    margin-right: .5rem;
}

.footer ul{
    display: flex;
    flex-direction: row;
    justify-content:  flex-end;
    gap: 0.8rem;
}

fieldset{
    padding: 1rem;
}

#comentario{
    text-align: center;
    padding: .5rem;
}


/*-----MEDIA QUIERY-----*/
@media  (max-width: 425px){
    .header__logo > img{
        width: 90px;
        object-fit: contain;
    }
    .nav-link{
        padding: 0;
    }
    .footer ul{
        justify-content:  space-evenly;
    }
    .footer p{
        text-align: center;
    }
    .barraLatDer img{
        width: 70%;
    }
    ul{
        padding-left: 0;
        text-align: center;
    }
}

