/*DISEÑO PIE DE PÁGINAS*/

.footer {
    margin: 0.8rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span {
        border: $color-borde;
        border-radius: map-get($bordes-radio, rad1515);
        width: 100%;
        display: block;
        margin-bottom: 0.3rem;
    }
    p {
        margin-right: 0.5rem;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 0.8rem;
    }
}

#comentario {
    text-align: center;
    padding: 0.5rem;
}

.navbar-dark .navbar-toggler-icon {
    background-color: $color-borde;
}
